{% extends "header.html" %}

{% block title %}Home - PyGaming Hub{% endblock %}

{% block content %}
    <!-- Content Wrapper -->
    <div class="content container text-center mt-5">
        <h1 class="text-white" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">Welcome to PyGaming Hub</h1>
        <p class="lead text-white" style="text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);">Play exciting games, challenge friends, and climb the leaderboard!</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/reg" class="btn btn-warning">Rgistration</a>
    </div>
{% endblock %}

  




